{%extends "p_app/base.html" %}
{% load staticfiles %}

{%block ss%}
<link rel="stylesheet" href="{% static "p_app/css/user.css" %}" />
{% endblock %}


{%block body_block %}
<h1> Users </h1>

  {% if users  %}
    <table>
      <thead>
        <th> First Name </th>
        <th> Last Name </th>
        <th> Email </th>
      </thead>
    {%for usr in users%}
      <tr>
        <td>{{usr.first_name}}</td>
        <td>{{usr.last_name}}</td>
        <td>{{usr.email}}</td>
      </tr>
    {% endfor %}
  </table>
  {%else%}
    <p> No users </p>
  {% endif %}

{% endblock%}
